target

report/report.log
report/report.aux
report/report.synctex.gz
report/report.toc
report/report.bbl
report/report.blg

experiments/graph
experiments/utils/iccma/data
experiments/results
experiments/results-old

.venv

**/__pycache__
