target

report/report.log
report/report.aux
report/report.synctex.gz
report/report.toc
report/report.bbl
report/report.blg

miReport/report.log
miReport/report.aux
miReport/report.synctex.gz
miReport/report.toc
miReport/report.bbl
miReport/report.blg
experiments/graph
experiments/utils/iccma/data
experiments/results
experiments/results-old

.venv

**/__pycache__
